@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Fast Delivery!</h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-3 m-2" style="width:10em;">
            <img class="img-responsive img-thumbnail rounded float-left card-img-top" src="data:image/jpeg;base64,@(item.Image == null ? "" : Convert.ToBase64String(item.Image)) " />
            <div class="card-body">
                <h5 class="card-title">@(item.Name)</h5>
                <p class="card-text">@(item.Description)</p>
                <a class="btn btn-sm btn-danger order-button float-right" asp-controller="Orders">View Menu</a>
                <a asp-action="Details" asp-controller="Restaurants" asp- asp-route-id="@item.IdRestaurant">GoTo</a> |
            </div>
        </div>
    }
</div>
